* {
    margin: 0;
    padding: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a,
a:active,
a:hover,
a:focus{
    outline: none;
}
a{
    color: #09afdf;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

body {
    font: 14px 'Open Sans', Arial, sans-serif;
    color: #333;
    background-color: #28313e;
}

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 10px;
}

.section{
    background-color: #fff;
    margin-bottom: 2px;
    padding: 30px;
}

/*------------ form --------------*/
.form {
}

.fileField {
    display: inline-block;
    padding: 6px 20px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    color: #777777;
}

.textField {
    border-radius: 5px;
    background: #ffffff;
    height: 37px;
    width: 120px;
    padding: 6px 12px;
    border: 1px solid #e1e1e1;
    color: #777777;
    position: relative;
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    border-radius: 3px;
    margin: 10px 0;
    color: #ffffff;
    cursor: pointer;
    background-color: #09afdf;
    border: 1px solid #0c9ec7;
}

.btn:hover {
    background-color: #0c9ec7;
}
/*--------------------------------*/
/*------------ images ------------*/
.empty {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    color: #bbb;
}

.image {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 200px;
    text-align: center;
}
    .image img {
        display: inline-block;
        max-width: 100%;
        max-height: 180px;
    }

.image_name {
    font-size: 12px;
}
/*--------------------------------*/
/*------------ result ------------*/
.result {
    border-bottom: 1px solid #28313e;
    padding: 30px 0;
}

.result:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.result:first-child {
    padding-top: 0;
}

.result_header {
    font-size: 20px;
    padding-bottom: 15px;
}

.result_header span {
    color: #aaa;
    display: inline-block;
    margin-left: 20px;
}

.result_row {
    margin: 0 15px;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.result_row span,
.result_row span a {
    color: #aaa;
}

.result_row span {
    display: inline-block;
}

.result_row:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
/*--------------------------------*/